
<form action="/delete_good" method="post">
    <input  name="good_id" value="{{good_id}}" hidden/>
    <input  name="name" value="{{name}}" hidden/>
    <div>
        <a class="waves-effect waves-light btn-small">
            <input type="submit" value="Удалить товар"/>
        </a>
    </div>
</form>