
<form action="/book_good" method="post">
    <input  name="goodId" value="{{good_id}}" hidden/>
    <input  name="name" value="{{name}}" hidden/>
    <input  name="userId" value="{{../userId}}"  hidden/>
    <div>
        {{#if is_available}}<a class="waves-effect waves-light btn-small">
            <input type="submit" value="В корзину"/>
        </a>
        {{else}} <a class="waves-effect waves-light btn-small">
            <input type="submit" value="Нет в наличии" disabled/></a>
        {{/if}}
    </div>
    </form>