<form action="/book_good" method="post">
    <input  name="goodId" value="{{good.id}}" hidden/>
    <input  name="name" value="{{good.name}}" hidden/>
    <input  name="userId" value="{{userId}}"  hidden/>

        {{#if good.is_available}}
            <td><button type="submit" class="btn btn-primary btn-sm btn-dark" >В корзину</button></td>
        {{else}}
            <td> <button type="submit" class="btn btn-primary btn-sm btn-dark" disabled>Нет в наличии</button></td>
        {{/if}}

</form>