
<form action="/book_good" method="post">
    <input  name="goodId" value="{{good_id}}" hidden/>
    <input  name="name" value="{{name}}" hidden/>
    <input  name="userId" value="{{../userId}}"  hidden/>

        {{#if is_available}}
        <button type="submit" class="btn btn-primary" >Добавить в корзину</button>
        {{else}}
        <button type="submit" class="btn btn-primary" disabled>Нет в наличии</button>
        {{/if}}

    </form>