
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">
        <img src="/logo.svg" width="30" height="30" class="d-inline-block align-top" >
        Техностор
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav">
            {{#if adminId}}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Админ Меню
                </a>
            <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">

                <a class="dropdown-item" href=/analitycs>Аналитика</a>
                <a class="dropdown-item" href="/admin/create_items">Добавление товара</a>
                <a class="dropdown-item" href="/users">Пользователи</a>
                <a class="dropdown-item" href="/orders">Заказы</a>
            {{else}}

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" hidden>
                    Админ Меню
                </a>
            <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                <a class="dropdown-item" href=/analitycs>Аналитика</a>
                <a class="dropdown-item" href="/admin/create_items">Добавление товара</a>
                <a class="dropdown-item" href="/users">Пользователи</a>
                <a class="dropdown-item" href="/orders">Заказы</a>

            {{/if}}

        </div>


            <li class="nav-item ">
                <a class="nav-link" href="/catalog">Каталог товара <span class="sr-only">(current)</span></a>
            </li>
            <!--            <li class="nav-item "> <a lass="nav-link" href=/analitycs>Аналитика</a> </li>-->


            {{#if userId}}

                <li class="nav-item">
                    <a class="nav-link" href="/login" hidden>Авторизация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register" hidden>Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Корзина</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/users">Пользователи</a>
                </li>

                <li class="nav-item">
                    <a  class="nav-link" href="/logout">Выйти</a>
                </li>

            {{else}}

                <li class="nav-item">
                    <a class="nav-link" href="/login">Авторизация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Регистрация</a>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/logout" hidden>LogOut</a>
                </li>
            {{/if}}


            </li>
        </ul>
    </div>
</nav>