<h5>

    <body>
    <center>

        <h1><p >500 internal server error</p></h1>
        <h3>Запрос не может быть обработан.</h3>
        <a href="/home" >Вернуться на главную
        <p><img src="/robot.jpg" height="50%" width="50%"></p></a>


    </center>
    </body>

</h5>