<body>
<style>
    footer{
        opacity: 0;
    }
</style>
<center>
<img src="https://sun9-76.userapi.com/u9bdSrhI7PwviCAr99-hWDmYiKjaoGhKSADCGA/5GRdTFkzy1Q.jpg" class="rounded">
</center>

</body>