<script type="text/javascript">
    (function () {
        var blinks = document.getElementsByTagName('blink');
        var visibility = 'hidden';
        window.setInterval(function () {
            for (var i = blinks.length - 1; i >= 0; i--) {
                blinks[i].style.visibility = visibility;
            }
            visibility = 'hidden';
        }, 5000);
    })();
</script>
<blink>{{message}} </blink>

    <form  action="/create_items"   method="post"   >

        <label for="exampleFormControlTextarea1">Название товара</label>
        <input required type="text" name="name" >
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Категория товара</label>
            <select class="form-control" id="exampleFormControlSelect1 " name="category_id">
                <option value="1" >Процессоры</option>
                <option value="2" >Видеокарты</option>
                <option value="3" >Материнские платы</option>
                <option value="4" >Корпуса</option>
                <option value="5" >SSD-накопители</option>
            </select>
        </div>
        <label for="exampleFormControlTextarea1">Цена товара</label>
        <input  required type="text" name="price" >
        <label for="exampleFormControlTextarea1">Описание товара</label>
        <input required type="text" name="description" >
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Полное описание товара</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="full_description" cols="40" rows="3" ></textarea>
            <label for="exampleFormControlTextarea1">Колличество товара</label>
        </div>
        <input required type="number" name="count">
        <p><a class="waves-effect waves-light btn-small">
        <input  type="submit"   value="Добавить товар"/> </a>
        </p>
        </form>


