<script type="text/javascript">
    (function () {
        var blinks = document.getElementsByTagName('blink');
        var visibility = 'hidden';
        window.setInterval(function () {
            for (var i = blinks.length - 1; i >= 0; i--) {
                blinks[i].style.visibility = visibility;
            }
            visibility = 'hidden';
        }, 5000);
    })();
</script>

{{#if message}}
    <blink class="alert alert-info alert-dismissible fade show" role="alert">{{message}} </blink>
{{/if}}

    <form  action="/create_items"   method="post">
        <div class="form-group">
        <label >Название товара</label>
        <input required type="text" name="name" class="form-control" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Категория товара</label>
            <select class="form-control" id="exampleFormControlSelect1 " name="category_id">
                <option value="1" >Процессоры</option>
                <option value="2" >Видеокарты</option>
                <option value="3" >Материнские платы</option>
                <option value="4" >Корпуса</option>
                <option value="5" >SSD-накопители</option>
            </select>
        </div>
        <div class="form-group">
        <label >Цена товара</label>
        <input  required type="text" name="price" class="form-control" >
        </div>
        <div class="form-group">
        <label >Описание товара</label>
        <input required type="text" name="description"  class="form-control" >
        </div>
        <div class="form-group">
        <label >Полное описание товара</label>
        <textarea required class="form-control"  name="full_description" cols="40" rows="3" ></textarea>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="image">
            <label class="custom-file-label" for="customFile">Выберите изображение товара</label>
        </div>
        <p>
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Колличество товара</label>
        <input required type="number" name="count">
        </div></p>
        <button type="submit" class="btn btn-primary btn-dark">Добавить товар</button>

    </form>

