<script type="text/javascript">
    (function() {
        var blinks = document.getElementsByTagName('blink');
        var visibility = 'hidden';
        window.setInterval(function() {
            for (var i = blinks.length - 1; i >= 0; i--) {
                blinks[i].style.visibility = visibility;
            }
            visibility =  'hidden' ;
        }, 2000);
    })();
</script>
{{#if message}}
    <p><div class="form-group"><blink class="alert alert-success alert-dismissible fade show" role="alert" >{{message}}</blink></div></p>
{{/if}}




<form action="/login" method="post">
    <label for="exampleInputLogin1">Логин</label>
    <input type="name" name="username" class="form-control" id="exampleInputLogin1"  placeholder="Введите свой почтовый ящик">
    <small id="emailHelp" class="form-text text-muted">Мы никогда не передадим ваши данные кому-либо еще.</small>
    <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label>
        <input required type="password" name="password" class="form-control"  placeholder="Введите пароль">
    </div>

    <button type="submit" class="btn btn-primary btn-dark">Авторизоваться</button>
</form>
