<body>

<style>
    footer{
        opacity: 0;
    }
</style>
<img src="https://sun3-10.userapi.com/ocyyTpm6QqnTbyQbtW8_Ry_i3TKLUV0SqUverw/j-N1j5-g3iY.jpg" class="rounded" >

<br>
<br>
<img src="https://sun9-19.userapi.com/I1geOypjuoP1jF83kOe_McIMb4VbGaodAOI_6A/Z8-hGRwgiaM.jpg" class="rounded"  >

</body>