<h5>

    <body>
    <center>

    <p >К сожалению, запрашиваемая Вами страница не найдена..</p>
        <a href="/home">Перейдите на главную страницу сайта.</a>
    <img src="/robot.jpg" alt="">
    <p>Почему?</p>
    <ul>
        <li>Ссылка, по которой Вы пришли, неверна.
        <li>Вы неправильно указали путь или название страницы.
        <li>Страница была удалёна со времени Вашего последнего посещения.
    </ul>

    </center>
    </body>

</h5>