<h5>

    <body>
    <center>

    <p >К сожалению, запрашиваемая вами страница не найдена..</p>
        <a href="/home" >На главную
    <p><img src="/robot.jpg" height="50%" width="50%"></p></a>
    <p>Почему?</p></center>
    <ul>
        <li>Ссылка, по которой вы пришли, неверна.
        <li>Вы неправильно указали путь или название страницы.
        <li>Страница была удалёна со времени вашего последнего посещения.
    </ul>


    </body>

</h5>