<h5>

    <body>
    <center>

    <p >К сожалению, запрашиваемая Вами страница не найдена..</p>
        <a href="/home" >На главную</a>
    <p><img src="/robot.jpg" height="50%" width="50%"></p>
    <p>Почему?</p>
    <ul>
        <li>Ссылка, по которой Вы пришли, неверна.
        <li>Вы неправильно указали путь или название страницы.
        <li>Страница была удалёна со времени Вашего последнего посещения.
    </ul>

    </center>
    </body>

</h5>