<h5><body>

    <table width="100%" border="1">
        <td>Название товара</td> <td>Описание</td> <td>Цена</td> <td> </td>

                  <form action="/book_good" method="post">
                        <input  name="goodId" value="{{goodId}}" />
                        <input  name="userId" value="{{userId}}" />
                    <div>
                        <input type="submit" value="В корзину"/>
                    </div>
                  </form>


                    <input type="submit" name="submit" value="Нет в наличие" disabled>


                </td>
            </tr>

    </table>



</body></h5>
<br>