<script type="text/javascript">
    (function () {
        var blinks = document.getElementsByTagName('blink');
        var visibility = 'hidden';
        window.setInterval(function () {
            for (var i = blinks.length - 1; i >= 0; i--) {
                blinks[i].style.visibility = visibility;
            }
            visibility = 'hidden';
        }, 2000);
    })();

    function ValidMail() {
        var re = /^[\w-\.]+@[\w-]+\.[a-z]{2,4}$/i;
        var myMail = document.getElementById('email').value;
        var valid = re.test(myMail);
        if (valid) output = null;
        else output = 'Адрес электронной почты введен неправильно!';
        document.getElementById('reg_message').innerHTML = output;
        return output;
    }
</script>
<div >
    <blink>{{message}} </blink>
</div>
<div>
    <blink>{{message_registration}}</blink>
</div>

<label id="reg_message">Пожалуйста, заполните все поля формы!</label>
<form action="/register" method="post" onsubmit="return ValidMail()">
    <div class="form-group">
        <label >Почтовый ящик</label>
        <input required id="email" type="email" class="form-control" id="exampleInputLogin1" name="email" placeholder="example@mail.com">
    </div>
    <div class="form-group">
    <label >Ваше имя:</label>
        <input required type="text" name="username" type="email" class="form-control" id="exampleInputLogin1" placeholder="Имя">

    </div>
    <div class="form-group">
    <label >Ваша фамилия:</label>
        <input type="text" name="last_name"  type="email" class="form-control" id="exampleInputLogin1"placeholder="Фамилия">
    </div>
    <div class="form-group">
    <label>Пароль:</label>
        <input required type="password" name="password"  class="form-control" id="exampleInputPassword1"placeholder="*******">
    </div>
    <div class="form-group">
    <label>Номер телефона:</label>
        <input required type="tel" name="phone_num" type="email" class="form-control" id="exampleInputLogin1" placeholder="+79998882233" pattern="+7[0-9]{3}-[0-9]{3}-[0-9]{4}">
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>

</form>
